.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 2em;
  background-color: #0a032a;
  color: black;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2em;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: rgba(0,0,0,0.8);
}
